  html,body {
    cursor: none;
  }
  body{
    display: flex; 
    align-items: center; 
    justify-content: center;
    margin: auto; 
    background: #3741d0;
    background: -moz-linear-gradient(top,  #3741d0 0%, #2979ff 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3741d0), color-stop(100%,#2979ff));
    background: -webkit-linear-gradient(top,  #3741d0 0%,#2979ff 100%);
    background: -o-linear-gradient(top,  #3741d0 0%,#2979ff 100%);
    background: -ms-linear-gradient(top,  #3741d0 0%,#2979ff 100%);
    background: linear-gradient(to bottom,  #3741d0 0%,#2979ff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3741d0', endColorstr='#2979ff',GradientType=0 );
    height: 100vh;
    padding-top: 12px;
    position: relative;
  }

  .container {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    height: 80vh;
    margin: 0 auto;
    
  }

  .wrapper, .wrapper1{
    border: 3px solid #000;
    display: inline-block;
    padding: 50px;
    text-align: center;
    margin-left: 50px;
    background: #676981;
  }

  .bYes, .bNo{
    width: 150px; 
    height: 150px;
    border-radius: 70%; 
    border-width: 1mm;
    padding: 5px;
    font-size: 25px;
    transition: transform 0.75s linear;
    position: relative;
  }

  .bYes{
    color: blue;
}

  .bNo{
    color: red;
}


  button {
    cursor: none;
  }
  .cursor {
    --cursor: #be1b67;
    position: fixed;
    top: -50px;
    z-index: 1;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: none;
    border: solid 2px var(--cursor);
    pointer-events: none;
    cursor: none;
  }


  